<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <!--Conexion aqui la ajustan segun el sql de caa uno-->
    <add name="Win_Aut"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=JORGE-PC\SQLEXPRESS;
                           Initial Catalog=DB_CALL_CENTER_PROGRA_III;
                           Integrated Security=True"/>
    <add name="Sql_Aut"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=JORGE-PC\SQLEXPRESS;
                           Initial Catalog=DB_CALL_CENTER_PROGRA_III
                           Persist Security Info=True;
                           User Id=sa;
                           Password=Demont07"/>
  </connectionStrings>
  
  
  
  
  
  
  
</configuration>