<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>

    <add name="Win_aut"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=TorresC\Ctorres;
                           Initial Catalog=DB_CALL_CENTER_PROGRA_III;
                           Integrated Security=True"/>
    <add name="Sql_aut"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=.\SQLEXPRESS;
                           Initial Catalog=DB_CALL_CENTER_PROGRA_III;
                           Persist security info=true
                           user Id=sa;
                           Password=Demont07"/> 
  </connectionStrings>
  
  
  
  
  
</configuration>